<h1>Frontend</h1>
<p>Counter: <span id="points">{{points}}</span></p>
<p>Next Level: <span id="level">{{level}}</span></p>
<p><a href="#" id="increaser">Increase Counter</a></p>
<p><a href="#" id="decreaser">Decrease Counter</a></p>
<script>
  document.getElementById("increaser").addEventListener("click", async function(){
    var counterObj = await fetch('http://localhost:8080/counter/increase')
      .then(res => { return res.json() });
    document.getElementById("points").innerText = "Counter: " + counterObj.points;
    document.getElementById("level").innerText = "Counter: " + counterObj.nextLevel;
  });
  document.getElementById("decreaser").addEventListener("click", async function () {
      var counterObj = await fetch('http://localhost:8080/counter/decrease')
        .then(res => { return res.json() });
      document.getElementById("points").innerText = "Counter: " + counterObj.points;
      document.getElementById("level").innerText = "Counter: " + counterObj.nextLevel;
  });
</script>