.point-counter{
    position: absolute;
    top: 0;
}
#addClicker{
    width: calc(20vw - 10 * 10px);
    height: calc(20vw - 10 * 10px);
    background: red;
    margin: 10px;
}
#main{
    display: flex;
    flex-wrap: wrap;
}
.clickable{
    width: calc(20vw - 10 * 10px);
    height: calc(20vw - 10 * 10px);
    margin: 10px;
    overflow: hidden;
    position: relative;
    background: lightblue;
}